/* Reset some default styles for the body */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    background-color: rgb(94, 118, 122);
}

/* Define styles for the black banner */
.banner {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 0; /* Adjust as needed */
}

/* Center the "WMORE" text horizontally */
.container {
    /* justifie left */
    display: flex;
    justify-content: left;
    margin: 0 50px;
}

/* Style the "WMORE" text */
.logo {
    font-weight: bold;
    font-size: 32px; /* Adjust as needed */
    margin: 0;
}

/* Style the image gallery section */
.image-gallery {
    padding: 20px 0; /* Adjust as needed */
    text-align: center; /* Center the image within the section */
}

/* Style each image card */
.image-card {
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    margin: 0 10px; /* Adjust as needed */
}

/* Style the image */
.image-card img {
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain image aspect ratio */
}

/* Style the image captions */
.image-caption {
    font-size: 18px; /* Adjust as needed */
    margin: 10px 0;
}

/* Style the footer */
.footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0; /* Adjust as needed */
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Style the footer text */
.footer-text {
    font-size: 16px; /* Adjust as needed */
    margin: 0;
}
