<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Your Webpage</title>
</head>
<body>
    <header class="banner">
        <div class="container">
            <h1 class="logo">WMORE</h1>
        </div>
    </header>

    <section class="image-gallery">
        <div class="container">
            <div class="image-card-container">
                {% for device in devices %}
                <div class="image-card">
                    <p class="image-caption">
                        <h2>{{ device["type"] }} - {{ device["id"] }}</h2>
                        <img src="{{ url_for('static', filename='WMORE_render.png') }}" alt="Image 1"><br>
                        <span class="device-info">Comport: {{ device["comport"] }} <br>Status: {{ device["status"] }}</span>

                    </p>  
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
<footer class="footer">
    <div class="container">
        <p class="footer-text">Author Sami Kaab</p>
    </div>
</footer>
<script>
    // JavaScript to reload the page every 5 seconds
    setInterval(function () {
        window.location.reload();
    }, 5000); // 5000 milliseconds (5 seconds)
</script>
</html>
